<%= render "form" %>

<% if @items.any? %>
  <ul class="list-inside list-disc">
    <% @items.each do |item| %>
      <li>
        <%= link_to game_path(item[:id]) do %>
          <%= item[:name] %>
          <% if item[:yearpublished].present? %>
            (<%= item[:yearpublished] %>)
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
