<div class="mb-10 space-y-3">
  <p>Hello, welcome to games.breakabletoys.com, a website where you can search data from <%= link_to "BGG", "https://boardgamegeek.com" %>, create lists, log & schedule plays, and more.</p>
  <p>The development started on March 2025, and we're heavily under construction. Expect new features every week.</p>
</div>

<%= render "search/form" %>
